In [2]:
from scipy.io import arff
import pandas as pd

data = pd.DataFrame(arff.loadarff('german_credit_fruad.arff.txt')[0])

In [3]:
# Cleaning Data

for column in data.columns:
    i = 0
    for item in data[column]:
        if isinstance(item, bytes) == True:
                fixed = item.decode("utf-8")
                data[column][i] = fixed
                
        i += 1

C:\Users\hanma\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
data

,over_draft,credit_usage,credit_history,purpose,current_balance,Average_Credit_Balance,employment,location,personal_status,other_parties,...,property_magnitude,cc_age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,'<0',6.0,'critical/other existing credit',radio/tv,1169.0,'no known savings','>=7',4.0,'male single',none,...,'real estate',67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,'0<=X<200',48.0,'existing paid',radio/tv,5951.0,'<100','1<=X<4',2.0,'female div/dep/mar',none,...,'real estate',22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,'no checking',12.0,'critical/other existing credit',education,2096.0,'<100','4<=X<7',2.0,'male single',none,...,'real estate',49.0,none,own,1.0,'unskilled resident',2.0,none,yes,good
3,'<0',42.0,'existing paid',furniture/equipment,7882.0,'<100','4<=X<7',2.0,'male single',guarantor,...,'life insurance',45.0,none,'for free',1.0,skilled,2.0,none,yes,good
4,'<0',24.0,'delayed previously','new car',4870.0,'<100','1<=X<4',3.0,'male single',none,...,'no known property',53.0,none,'for free',2.0,skilled,2.0,none,yes,bad
5,'no checking',36.0,'existing paid',education,9055.0,'no known savings','1<=X<4',2.0,'male single',none,...,'no known property',35.0,none,'for free',1.0,'unskilled resident',2.0,yes,yes,good
6,'no checking',24.0,'existing paid',furniture/equipment,2835.0,'500<=X<1000','>=7',3.0,'male single',none,...,'life insurance',53.0,none,own,1.0,skilled,1.0,none,yes,good
7,'0<=X<200',36.0,'existing paid','used car',6948.0,'<100','1<=X<4',2.0,'male single',none,...,car,35.0,none,rent,1.0,'high qualif/self emp/mgmt',1.0,yes,yes,good
8,'no checking',12.0,'existing paid',radio/tv,3059.0,'>=1000','4<=X<7',2.0,'male div/sep',none,...,'real estate',61.0,none,own,1.0,'unskilled resident',1.0,none,yes,good
9,'0<=X<200',30.0,'critical/other existing credit','new car',5234.0,'<100',unemployed,4.0,'male mar/wid',none,...,car,28.0,none,own,2.0,'high qualif/self emp/mgmt',1.0,none,yes,bad
10,'0<=X<200',12.0,'existing paid','new car',1295.0,'<100','<1',3.0,'female div/dep/mar',none,...,car,25.0,none,rent,1.0,skilled,1.0,none,yes,bad
11,'<0',48.0,'existing paid',business,4308.0,'<100','<1',3.0,'female div/dep/mar',none,...,'life insurance',24.0,none,rent,1.0,skilled,1.0,none,yes,bad
12,'0<=X<200',12.0,'existing paid',radio/tv,1567.0,'<100','1<=X<4',1.0,'female div/dep/mar',none,...,car,22.0,none,own,1.0,skilled,1.0,yes,yes,good
13,'<0',24.0,'critical/other existing credit','new car',1199.0,'<100','>=7',4.0,'male single',none,...,car,60.0,none,own,2.0,'unskilled resident',1.0,none,yes,bad
14,'<0',15.0,'existing paid','new car',1403.0,'<100','1<=X<4',2.0,'female div/dep/mar',none,...,car,28.0,none,rent,1.0,skilled,1.0,none,yes,good
15,'<0',24.0,'existing paid',radio/tv,1282.0,'100<=X<500','1<=X<4',4.0,'female div/dep/mar',none,...,car,32.0,none,own,1.0,'unskilled resident',1.0,none,yes,bad
16,'no checking',24.0,'critical/other existing credit',radio/tv,2424.0,'no known savings','>=7',4.0,'male single',none,...,'life insurance',53.0,none,own,2.0,skilled,1.0,none,yes,good
17,'<0',30.0,'no credits/all paid',business,8072.0,'no known savings','<1',2.0,'male single',none,...,car,25.0,bank,own,3.0,skilled,1.0,none,yes,good
18,'0<=X<200',24.0,'existing paid','used car',12579.0,'<100','>=7',4.0,'female div/dep/mar',none,...,'no known property',44.0,none,'for free',1.0,'high qualif/self emp/mgmt',1.0,yes,yes,bad
19,'no checking',24.0,'existing paid',radio/tv,3430.0,'500<=X<1000','>=7',3.0,'male single',none,...,car,31.0,none,own,1.0,skilled,2.0,yes,yes,good
20,'no checking',9.0,'critical/other existing credit','new car',2134.0,'<100','1<=X<4',4.0,'male single',none,...,car,48.0,none,own,3.0,skilled,1.0,yes,yes,good
21,'<0',6.0,'existing paid',radio/tv,2647.0,'500<=X<1000','1<=X<4',2.0,'male single',none,...,'real estate',44.0,none,rent,1.0,skilled,2.0,none,yes,good
22,'<0',10.0,'critical/other existing credit','new car',2241.0,'<100','<1',1.0,'male single',none,...,'real estate',48.0,none,rent,2.0,'unskilled resident',2.0,none,no,good
23,'0<=X<200',12.0,'critical/other existing credit','used car',1804.0,'100<=X<500','<1',3.0,'male single',none,...,'life insurance',44.0,none,own,1.0,skilled,1.0,none,yes,good
24,'no checking',10.0,'critical/other existing credit',furniture/equipment,2069.0,'no known savings','1<=X<4',2.0,'male mar/wid',none,...,car,26.0,none,own,2.0,skilled,1.0,none,no,good
25,'<0',6.0,'existing paid',furniture/equipment,1374.0,'<100','1<=X<4',1.0,'male single',none,...,'real estate',36.0,bank,own,1.0,'unskilled resident',1.0,yes,yes,good
26,'no checking',6.0,'no credits/all paid',radio/tv,426.0,'<100','>=7',4.0,'male mar/wid',none,...,car,39.0,none,own,1.0,'unskilled resident',1.0,none,yes,good
27,'>=200',12.0,'all paid',radio/tv,409.0,'>=1000','1<=X<4',3.0,'female div/dep/mar',none,...,'real estate',42.0,none,rent,2.0,skilled,1.0,none,yes,good
28,'0<=X<200',7.0,'existing paid',radio/tv,2415.0,'<100','1<=X<4',3.0,'male single',guarantor,...,'real estate',34.0,none,own,1.0,skilled,1.0,none,yes,good
29,'<0',60.0,'delayed previously',business,6836.0,'<100','>=7',3.0,'male single',none,...,'no known property',63.0,none,own,2.0,skilled,1.0,yes,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,'0<=X<200',15.0,'existing paid',repairs,1514.0,'100<=X<500','1<=X<4',4.0,'male single',guarantor,...,'real estate',22.0,none,own,1.0,skilled,1.0,none,yes,good
971,'no checking',24.0,'existing paid','new car',7393.0,'<100','1<=X<4',1.0,'male single',none,...,'life insurance',43.0,none,own,1.0,'unskilled resident',2.0,none,yes,good
972,'<0',24.0,'all paid','new car',1193.0,'<100',unemployed,1.0,'female div/dep/mar','co applicant',...,'no known property',29.0,none,rent,2.0,'unemp/unskilled non res',1.0,none,yes,bad
973,'<0',60.0,'existing paid',business,7297.0,'<100','>=7',4.0,'male single','co applicant',...,'no known property',36.0,none,rent,1.0,skilled,1.0,none,yes,bad
974,'no checking',30.0,'critical/other existing credit',radio/tv,2831.0,'<100','1<=X<4',4.0,'female div/dep/mar',none,...,car,33.0,none,own,1.0,skilled,1.0,yes,yes,good
975,'>=200',24.0,'existing paid',radio/tv,1258.0,'500<=X<1000','1<=X<4',3.0,'female div/dep/mar',none,...,car,57.0,none,own,1.0,'unskilled resident',1.0,none,yes,good
976,'0<=X<200',6.0,'existing paid',radio/tv,753.0,'<100','1<=X<4',2.0,'female div/dep/mar',guarantor,...,'real estate',64.0,none,own,1.0,skilled,1.0,none,yes,good
977,'0<=X<200',18.0,'delayed previously',business,2427.0,'no known savings','>=7',4.0,'male single',none,...,'life insurance',42.0,none,own,2.0,skilled,1.0,none,yes,good
978,'no checking',24.0,'delayed previously','new car',2538.0,'<100','>=7',4.0,'male single',none,...,car,47.0,none,own,2.0,'unskilled resident',2.0,none,yes,bad
979,'0<=X<200',15.0,'all paid','new car',1264.0,'100<=X<500','1<=X<4',2.0,'male mar/wid',none,...,'life insurance',25.0,none,rent,1.0,skilled,1.0,none,yes,bad
980,'0<=X<200',30.0,'critical/other existing credit',furniture/equipment,8386.0,'<100','4<=X<7',2.0,'male single',none,...,'life insurance',49.0,none,own,1.0,skilled,1.0,none,yes,bad
981,'no checking',48.0,'existing paid',business,4844.0,'<100',unemployed,3.0,'male single',none,...,car,33.0,bank,rent,1.0,'high qualif/self emp/mgmt',1.0,yes,yes,bad
982,'>=200',21.0,'existing paid','new car',2923.0,'100<=X<500','1<=X<4',1.0,'female div/dep/mar',none,...,car,28.0,bank,own,1.0,'high qualif/self emp/mgmt',1.0,yes,yes,good
983,'<0',36.0,'existing paid','used car',8229.0,'<100','1<=X<4',2.0,'male single',none,...,'life insurance',26.0,none,own,1.0,skilled,2.0,none,yes,bad
984,'no checking',24.0,'critical/other existing credit',furniture/equipment,2028.0,'<100','4<=X<7',2.0,'male single',none,...,'life insurance',30.0,none,own,2.0,'unskilled resident',1.0,none,yes,good
985,'<0',15.0,'critical/other existing credit',furniture/equipment,1433.0,'<100','1<=X<4',4.0,'female div/dep/mar',none,...,'life insurance',25.0,none,rent,2.0,skilled,1.0,none,yes,good
986,'>=200',42.0,'no credits/all paid',business,6289.0,'<100','<1',2.0,'male div/sep',none,...,'life insurance',33.0,none,own,2.0,skilled,1.0,none,yes,good
987,'no checking',13.0,'existing paid',radio/tv,1409.0,'100<=X<500',unemployed,2.0,'female div/dep/mar',none,...,'real estate',64.0,none,own,1.0,skilled,1.0,none,yes,good
988,'<0',24.0,'existing paid','used car',6579.0,'<100',unemployed,4.0,'male single',none,...,'no known property',29.0,none,'for free',1.0,'high qualif/self emp/mgmt',1.0,yes,yes,good
989,'0<=X<200',24.0,'critical/other existing credit',radio/tv,1743.0,'<100','>=7',4.0,'male single',none,...,'life insurance',48.0,none,own,2.0,'unskilled resident',1.0,none,yes,good
990,'no checking',12.0,'critical/other existing credit',education,3565.0,'no known savings','<1',2.0,'male single',none,...,'life insurance',37.0,none,own,2.0,'unskilled resident',2.0,none,yes,good
991,'no checking',15.0,'all paid',radio/tv,1569.0,'100<=X<500','>=7',4.0,'male single',none,...,car,34.0,bank,own,1.0,'unskilled resident',2.0,none,yes,good
992,'<0',18.0,'existing paid',radio/tv,1936.0,'no known savings','4<=X<7',2.0,'male mar/wid',none,...,car,23.0,none,rent,2.0,'unskilled resident',1.0,none,yes,good
993,'<0',36.0,'existing paid',furniture/equipment,3959.0,'<100',unemployed,4.0,'male single',none,...,'life insurance',30.0,none,own,1.0,'high qualif/self emp/mgmt',1.0,yes,yes,good
994,'no checking',12.0,'existing paid','new car',2390.0,'no known savings','>=7',4.0,'male single',none,...,car,50.0,none,own,1.0,skilled,1.0,yes,yes,good
995,'no checking',12.0,'existing paid',furniture/equipment,1736.0,'<100','4<=X<7',3.0,'female div/dep/mar',none,...,'real estate',31.0,none,own,1.0,'unskilled resident',1.0,none,yes,good
996,'<0',30.0,'existing paid','used car',3857.0,'<100','1<=X<4',4.0,'male div/sep',none,...,'life insurance',40.0,none,own,1.0,'high qualif/self emp/mgmt',1.0,yes,yes,good
997,'no checking',12.0,'existing paid',radio/tv,804.0,'<100','>=7',4.0,'male single',none,...,car,38.0,none,own,1.0,skilled,1.0,none,yes,good
998,'<0',45.0,'existing paid',radio/tv,1845.0,'<100','1<=X<4',4.0,'male single',none,...,'no known property',23.0,none,'for free',1.0,skilled,1.0,yes,yes,bad
999,'0<=X<200',45.0,'critical/other existing credit','used car',4576.0,'100<=X<500',unemployed,3.0,'male single',none,...,car,27.0,none,own,1.0,skilled,1.0,none,yes,good